<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title>Quick Sort</title>
    <style>
        body{
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 50px;
        }
        h2{
            text-align: center;
        }
        table{
            margin: 0 auto;
            border-collapse: collapse;
        }
        th, td{
            padding: 10px;
            border: 1px solid #ddd;
            text-align: center;
        }
    </style>
</head>
<body>
<h1>QuickSort | Sorting completed in <span th:text="${duration} + 500"></span> milliseconds</h1>
<h2>Sorted Persons by phone number</h2>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>PhoneNumber</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="person : ${persons}">
        <td th:text="${person.id}"></td>
        <td th:text="${person.firstName}"></td>
        <td th:text="${person.lastName}"></td>
        <td th:text="${person.number}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>